.chat-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.chat {
    display: flex;
    color: black;
    background-color: white;
    flex-basis: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat:hover {
    background-color: #F5F5F5;
}

.chat:active {
    background-color: #e7c2f1;
}

.chat-avatar {
    display: flex;
    flex-basis: 80px;
    justify-content: center;
    align-items: center;
}

.chat-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-info, .chat-meta {
    border-bottom: 1px solid rgb(216, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.chat-info {
    flex-grow: 1;
}

.chat-title {
    font-size: 20px;
    color: black;
}

.last-message {
    font-size: 16px;
    color: rgb(78, 70, 78);
}

.last-message-time {
    font-size: 14px;
    color: rgb(78, 70, 78);
}

.chat-meta {
    flex-basis: 80px;
    padding: 0 15px;
    align-items: flex-end;
}

.message-status {
    font-size: 22px;
    color: #8A23A7;
}

.unread-messages-number {
    background-color: #8A23A7;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 40%;
    padding: 4px 8px;
}
