header {
    background-color: #8E24AA;
    display: flex;
    flex-basis: 80px;
}

header button {
    background-color: #8E24AA;
    color: white;
    border: 0;
    flex-basis: 80px;
    cursor: pointer;
}

.page-title {
    flex-grow: 1;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
}