.chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    background-color: #F5F5F5;
    padding: 20px;
    flex-basis: 200px;
    row-gap: 5px;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ceb6cefb;
    padding: 10px;
    min-width: 100px;
    word-break: break-word;
    row-gap: 10px;
}

.message-text {
    font-size: 16px;
}

.message-info {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
}

.message-time {
    font-size: 13px;
    color: #666067;
    padding-top: 7px;
}

.message-status {
    color: #8A23A7;
}

.left-side {
    background: white;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    animation: left-scaling 0.5s;
}

.right-side {
    background: #F3E5F5;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    animation: right-scaling 0.5s;
}

@keyframes right-scaling {
    from {
      transform: scale(0);
      transform-origin: bottom right;
    }
  
    to {
      transform: scale(1);
      transform-origin: bottom right;
    }
  }

  @keyframes left-scaling {
    from {
      transform: scale(0);
      transform-origin: bottom left;
    }
  
    to {
      transform: scale(1);
      transform-origin: bottom left;
    }
  }