.form {
    display: flex;
    flex-basis: 60px;
    border: 1px solid #DADADA;
}

.form-input {
    flex-grow: 1;
    border: 0;
    outline: none;
    padding: 10px 0px 10px 20px;
    font-size: 16px;
}

.attach-button {
    border: 0;
    background: white;
    color: #777777;
    cursor: pointer;
    flex-basis: 80px;
    transition: color 0,3s;
}

.attach-button:hover {
    color: #8A23A7;
}

.attach-button:active {
    opacity: 0.7;
}

input[type=submit] {
    visibility: collapse;
}
