.chat {
    display: flex;
    color: black;
    background-color: white;
    height: 80px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat:hover {
    background-color: #F5F5F5;
}

.chat:active {
    background: #F3E5F5;
}

.chatAvatar {
    display: flex;
    flex-basis: 80px;
    justify-content: center;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatInfo, .chatMeta {
    border-bottom: 1px solid #d8d2d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.chatInfo {
    flex-grow: 1;
}

.chatTitle {
    font-size: 20px;
    color: black;
}

.lastMessage {
    font-size: 16px;
    color: #4e464e;
}

.lastMessageTime {
    font-size: 14px;
    color: #4e464e;
    white-space: nowrap;
}

.chatMeta {
    flex-basis: 80px;
    padding: 0 15px;
    align-items: flex-end;
}

.messageStatus {
    font-size: 22px;
    color: #8760D6;
}

.unreadMessagesNumber {
    background-color: #8760D6;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 40%;
    padding: 4px 8px;
}