.header {
    background-color: #a6a7ff;
    align-items: center;
    display: flex;
    height: 80px;
}

.buttonLink {
    display: flex;
    flex-basis: 80px;
}

.button {
    background-color: #a6a7ff;
    color: white;
    border: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: background-color 0.7s, color 0.2s;
}

.button:hover {
    background-color: #4446e2;
}

.button:active {
    color: #FFD862;
}

.title {
    padding-left: 20px;
    color: white;
    font-size: 22px;
}